:root {
  --main-dark: #12005e;
  --main-mid: #4a148c;
  --main-light: #7c43bd;
  --contrast: #4fc3f7;
}

.content {
  background-color: var(--main-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.app {
  background-color: var(--main-mid);
  padding: 35px;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Great Vibes", cursive;
  background-color: var(--main-light);
  padding: 20px;
  border-radius: 5px;
}

a,
button {
  background-color: var(--contrast);
  border-color: var(--contrast);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  /*margin: 10px;*/
  color: black;
  font-size: calc(10px + 2vmin);
}

label {
  padding-right: 10px;
}

input {
  height: calc(10px + 2vh);
  border-radius: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.formField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.movieAdder {
  color: #000000;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.movieRecommender {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.asyncSelect {
  width: 85%;
}

.movieList {
  padding: 20px 0;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.movieOption {
  padding: 10px;
  font-size: calc(5px + 2vmin);
  background-color: var(--main-light);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon:hover {
  cursor: pointer;
}
